@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap");
* {
  margin: 0px;
  -webkit-box-sizing: 0px;
          box-sizing: 0px;
  padding: 0px;
}

.btn, .video .button_consultation, .menu_button {
  color: white;
  background-color: #b28c66;
  padding: 1rem;
  border: 1px solid white;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 1.5rem;
  text-decoration: none;
  -webkit-box-shadow: 0.7rem 0.7rem 0.5rem #4c2600;
          box-shadow: 0.7rem 0.7rem 0.5rem #4c2600;
}

.link, .menu_element .link5, .menu_element .link4, .menu_element .link3, .menu_element .link2, .menu_element .link1 {
  margin-left: 1.5rem;
  -webkit-animation-name: links;
          animation-name: links;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  color: white;
}
.link:hover, .menu_element .link5:hover, .menu_element .link4:hover, .menu_element .link3:hover, .menu_element .link2:hover, .menu_element .link1:hover {
  color: #b28c66;
}

html {
  font-size: 62.5%;
}

.body {
  color: white;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "Lato";
}
.container_expression {
  display: none;
  margin-left: 2rem;
}
.container_expression .expression {
  font-size: 7rem;
  font-weight: white;
  color: white;
  opacity: 1;
}

.container_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  position: absolute;
  z-index: 1;
  background-color: #804000;
  width: 100%;
  height: 100vh;
}
.container_logo .logo_position {
  color: white;
  font-size: 25px;
  font-family: "Lato";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 20%;
  margin-top: 50vh;
  width: 5rem;
}
.container_logo_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu_nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 2rem;
  display: none;
}
.menu_element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 2rem;
  font-size: 2rem;
}
.menu_element .link1 {
  -webkit-animation-duration: 0s;
          animation-duration: 0s;
}
.menu_element .link2 {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.menu_element .link3 {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
.menu_element .link4 {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}
.menu_element .link5 {
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
}
@-webkit-keyframes links {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(6rem);
            transform: translateY(6rem);
  }
}
@keyframes links {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(6rem);
            transform: translateY(6rem);
  }
}
.menu_button {
  height: 5rem;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  margin-top: 3rem;
}
.menu_button:focus {
  outline: 0;
  -webkit-animation-name: rebound;
          animation-name: rebound;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
}
.menu_burger {
  display: none;
}

@-webkit-keyframes rebound {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0.7rem 0.7rem 0.5rem #4c2600;
            box-shadow: 0.7rem 0.7rem 0.5rem #4c2600;
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    -webkit-box-shadow: 0.3rem 0.3rem 0.3rem #4c2600;
            box-shadow: 0.3rem 0.3rem 0.3rem #4c2600;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0.7rem 0.7rem 0.5rem #4c2600;
            box-shadow: 0.7rem 0.7rem 0.5rem #4c2600;
  }
}

@keyframes rebound {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0.7rem 0.7rem 0.5rem #4c2600;
            box-shadow: 0.7rem 0.7rem 0.5rem #4c2600;
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    -webkit-box-shadow: 0.3rem 0.3rem 0.3rem #4c2600;
            box-shadow: 0.3rem 0.3rem 0.3rem #4c2600;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0.7rem 0.7rem 0.5rem #4c2600;
            box-shadow: 0.7rem 0.7rem 0.5rem #4c2600;
  }
}
.img_logo {
  width: 15rem;
  height: 15rem;
  margin-right: 5px;
  z-index: 3;
}

.title {
  margin-top: 4rem;
  margin-left: -9rem;
  z-index: 2;
}

video {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.video {
  position: relative;
}
.video_comment {
  position: absolute;
  top: 0;
  left: 2rem;
  width: 100%;
}
.video_expression {
  color: #804000;
  font-size: 7rem;
  font-weight: bold;
  margin-top: -11rem;
  display: none;
  overflow: hidden;
  opacity: 0;
}
.video_lorem {
  color: #804000;
  font-size: 1.5rem;
  margin-top: 23rem;
  width: 30rem;
  display: none;
  overflow-wrap: break-word;
  width: 80vw;
}
.video_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.video .button_play {
  border: 1px solid #b28c66;
  background-color: #b28c66;
  color: white;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  border: 1px solid white;
}
.video .button_play:focus {
  outline: 0;
}
.video .button_consultation {
  display: hidden;
  opacity: 0;
  margin-top: 10rem;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}
.video .button_consultation:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.video .button_consultation:focus {
  outline: 0;
}
.video .scroll_icon {
  display: none;
  width: 3rem;
  height: 3rem;
  z-index: 7;
  top: 5rem;
}

.footer {
  height: 20rem;
  background-color: #804000;
  width: 100vw;
  position: relative;
  margin-top: -2px;
}

@media screen and (max-width: 900px) {
  .menu_burger {
    display: block;
    margin-left: 1rem;
    color: white;
  }

  .menu_button {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }

  .menu_element {
    display: none;
  }

  .scroll_icon {
    display: none;
    position: relative;
    margin-top: 18rem;
  }
}
/*# sourceMappingURL=style.css.map */