*{
    margin:0px;
    box-sizing: 0px;
    padding: 0px;
}
@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap");
//_______________ variables__________________//
$primary: white;
$secondary: #804000;  
//________________ extends_________________________//
.btn 
{
    color: $primary;
    background-color: #b28c66;
    padding: 1rem;
    border: 1px solid $primary;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 1.5rem;
    text-decoration: none;
    box-shadow: 0.7rem 0.7rem 0.5rem #4c2600 ;
}
.link
{
    margin-left: 1.5rem;
    animation-name: links;
    animation-fill-mode: forwards;
    color: $primary;
        &:hover
        {
        color:  #b28c66;
        }
}
//_______________ code__________________//
html {
    font-size: 62.5%; 
}

.body
{
    color: $primary;
}
.container
{
    position: relative;
    width: 100%;
    height: 100%;
    font-family: "Lato";
    
    &_expression
    {
        display: none;
        margin-left: 2rem;
        .expression
        {
            font-size: 7rem;
            font-weight: $primary;
            color: $primary; 
            opacity: 1;
        }
    }
}

.container_logo
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:auto;
    position: absolute;
    z-index: 1;
    background-color:$secondary;  
    width: 100%;
    height: 100vh;
    .logo_position
    {   
        color: $primary;
        font-size: 25px;
        font-family:"Lato";
        display:flex;
        flex-direction:row;  
        margin-left: 20%; 
        margin-top: 50vh;
        width: 5rem;
    }
    
    &_nav
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.menu{
    &_nav
    {
        flex-direction: row;
        justify-content: space-around;
        margin-right: 2rem;
        display: none;
    }

    &_element
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: 2rem;
        font-size: 2rem;
        .link1
        {
            @extend .link;
            animation-duration: 0s ;
        }
        .link2 {
            @extend .link;
            animation-duration: 1s ;
        }
        .link3
        {
            @extend .link;
            animation-duration: 2s ;
        }
        .link4
        {
            @extend .link;
            animation-duration: 3s ;
        }
        .link5
        {
            @extend .link;
            animation-duration: 3.5s ;
        }
    }
    
    @keyframes links
    {
        from
        {
        opacity: 0;
        }
        to
        {
        opacity: 1;
        transform: translateY(6rem);
        }
    }

    
    &_button
    {
        @extend .btn ;
        height: 5rem;
        transition: transform 400ms;
        margin-top: 3rem;
        &:focus {
            outline:0;
            animation-name: rebound;
            animation-duration: 500ms;
        }
    }
    &_burger
    {
        display:none;
    }
}
@keyframes rebound
{
    0%{transform: scale(1);
        box-shadow: 0.7rem 0.7rem 0.5rem #4c2600 }
    50%{transform:scale(0.8);
        box-shadow: 0.3rem 0.3rem 0.3rem #4c2600 ;}
    100%{transform: scale(1);
        box-shadow: 0.7rem 0.7rem 0.5rem #4c2600 }
}

.img_logo
{
    width: 15rem;
    height: 15rem;
    margin-right: 5px; 
    z-index:3;
}
.title
{
    margin-top: 4rem;
    margin-left: -9rem;
    z-index: 2;
}
video
{
    width: 100%;
    height: 100%; 
    z-index: 0;
}
.video
{
    position: relative;
    
    &_comment
    {
        position: absolute;
        top:0;
        left: 2rem;
        width:100%;
    }
    &_expression
    {
        color: $secondary;
        font-size: 7rem;
        font-weight: bold;
        margin-top: -11rem;
        display: none;
        overflow: hidden;
        opacity: 0;
    }
    &_lorem
    {
        color: $secondary;
        font-size: 1.5rem;
        margin-top: 23rem;
        width: 30rem;
        display: none;
        overflow-wrap: break-word;
        width: 80vw;
    }
    &_btn
    {
        display: flex;
        flex-direction: row;
        justify-content:space-between;
    }
    .button_play
    {
        border: 1px solid #b28c66;
        background-color: #b28c66;
        color: $primary;
        font-size: 2rem;
        width: 3rem;
        height: 3rem;
        padding: 0.5rem;
        border: 1px solid $primary;
        &:focus
        {
            outline:0;
        }
    }
    
    .button_consultation
    {
        display: hidden;
        opacity: 0;
        @extend .btn;
        margin-top: 10rem;
        transform: scale(1);
        transition: transform 400ms;
        &:hover {
        transform: scale(1.2);  
        }
        &:focus
        {
            outline:0;  
        }
    }
    .scroll
    { 
        &_icon
        {   display: none;
            width: 3rem;
            height: 3rem;
            z-index: 7;
            top: 5rem;
        }
    }
}


.footer
{
    height: 20rem;
    background-color: $secondary;
    width: 100vw;
    position: relative;
    margin-top: -2px;
}

@media screen and(max-width: 900px)
{
    .menu_burger
    {
        display: block;
        margin-left: 1rem;
        color: $primary; 
    }
    .menu_button
    {
        transform:scale(0.5);
    }
    .menu_element
    {
        display:none;
    }
    .scroll_icon
    {
        display: none;
        position: relative;
        margin-top: 18rem;
    }
}